h2 {
  color: #666eb2;
}

.border-color {
  border-color: rgba(68, 90, 116, 0.2);
}

.table-key {
  color: rgba(68, 90, 116, 0.6);
  font-weight: 400;
  font-size: 14px;
}

.table-value {
  color: #445a74;
  font-weight: 700;
  font-size: 14px;
}

.edit-btn-bg {
  background-color: #e9edf5;
}
.edit-btn-text-color {
  color: rgba(68, 90, 116, 0.7);
}

.bg-save-btn {
  background-color: #6370e5;
}

.bg-cancel-btn {
  background-color: #e9edf5;
}
