@font-face {
  font-family: Vazir;
  src: url("vazir-font-v16.1.0/Vazir.eot");
  src: url("vazir-font-v16.1.0/Vazir.eot?#iefix") format("embedded-opentype"),
    url("vazir-font-v16.1.0/Vazir.woff") format("woff"),
    url("vazir-font-v16.1.0/Vazir.ttf") format("truetype");
  font-weight: normal;
}
